body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background-image: url(../images/bannerimage.jpg);
}
.left-arrow {
  text-decoration: none;
}

 .hidden2{
  display: none;
}

.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #311c10;
  width: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
}

.nav-container ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-container ul li{
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #ffe4c8;
  cursor: pointer;
}

.container {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #ffe4c8;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
  text-align: center;
  position: relative;
}

h2 {
  color: #000000;
}

form {
  text-align: left;
}

label {
  display: block;
  margin: 10px 0;
  color: #000000;
}

input[type="text"],
input[type="email"],
textarea {
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #f9c58a;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #311c10;
}
