body {
  margin: 0px;
  padding: 0px;
  background-image: url(../images/bannerimage.jpg);
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Centaur";
  font-size: 20px;
  
}

 .hidden2{
  display: none;
}

.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #311c10;
  width: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
}

.nav-container ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-container ul li{
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #ffe4c8;
  cursor: pointer;
}
  


h1 {
  font-size: 30px;
  margin-top: -20px;
}

hr {
  height: 2px;
  background-color: #000;
  border: none;
}
.card {
  padding-left: 20%;
  background-color: #ffe4c8;
  border: 1px solid #000000;
  /* border-radius: 10px; */
  width: 295px;
  height: 450px;
  text-align: center;
  padding: 65px;
  box-shadow: 0px 0px 500px 10px #ffffff;
}

button {
  background-color: 00ffff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login {
  font-family: "Centaur";
  padding: 10px 50px;
  margin-left: 8px;
  margin-top: 0px;
  font-size: 25px;
  background-color: #311c10;
  color: #ffffff;
}

#login {
  overflow: hidden;
}

#login {
  transition: 400ms;
  object-fit: cover;
}

#login:hover {
  transform: scale(1.1);
}

#create-new-account {
  font-family: "Centaur";
  font-size: 25px;
  background-color: #311c10;
  color: #ffffff;
}

#create-new-account {
  overflow: hidden;
}

#create-new-account {
  transition: 400ms;
  object-fit: cover;
}

#create-new-account:hover {
  transform: scale(1.1);
}

a {
  color: white;
}

h2 {
  margin-top: -30px;
}
